.top-bar{
    background: #262626;
    padding: 17px 0px;
    font-family: "sfu";
    font-weight: 400;
    .content-top-bar{
        p{
            color: #fff;
            font-size: 14px;
        }
    }

    @media only screen and (max-width: 1024px){
        &{
            display: none;
        }
    }
}

.header-main{
    padding-top: 14px;
    @media only screen and (max-width: 1024px){
        &{
            -webkit-box-shadow: 0px 1px 20px 1px rgba(193,193,193,0.53); 
            box-shadow: 0px 1px 20px 1px rgba(193,193,193,0.53);
            background: #fff;
        }
    }
    .container{
        @media only screen and (max-width: 1024px){
            &{
                justify-content: center;
            }
        }
    }

    .logo-box{
        max-width: 184px;
        height: auto;

        @media only screen and (max-width: 1024px){
            &{
                max-width: 100px;
            }
        }

        img{
            width: 100%;
            height: auto;
        }
    }

    .left-content-menu{
        margin-left: 54px;

        @media only screen and (max-width: 1024px){
            &{
                display: none;
            }
        }

        .title-header{
            font-family: "title-header";
            font-size: 60px;
            font-style: italic;
        }

       .search-form-header{
           padding-top: 20px;
           form{
               display: flex;
               align-items: center;
               border: 1px solid #E1E1E1;
               border-radius: 30px;
               padding: 5px 0px;
               max-width: 590px;

               input{
                   width: 574px;
                   border:none;
                   outline: none;
                   background: transparent;
                   padding-left: 15px;
                   font-size: 13px;
               }

               button{
                    background: none;
                    color: #666666;
                    margin-right: 5px;
                    display: inline-block;
                    border:none;
                    outline: none;
                }
           }
       }

       .nav-bottom-menu{
           background: #262626;
           font-family: 'sfu';
           margin-left: -43px;
           margin-top: 20px;
           position: relative;
           padding: 0px 10px;

           &::before{
                content: "";
                position: absolute;
                z-index: 60;
                width: 58px;
                height: 101%;
                left: -58px;
                top: 0px;
                background: #262626;
                clip-path: polygon(100% 100%, 100% 0, 19% 100%);
           }

           &::after{
            content: "";
            position: absolute;
            z-index: 60;
            width: 48px;
            height: 102%;
            right: -47px;
            top: 0;
            background: #262626;
            clip-path: polygon(0 100%, 68% 0, 0 0);

        }
           ul{
               display: flex;
               li{
                   margin-right: 20px;
                   line-height: 47px;
                    

                   &.has-child{
                       position: relative;
                       &:hover{
                           ul{
                               left: 0;
                               opacity: 1;
                               visibility: visible;
                           }
                       }
                       a{
                           &:after{
                                content:"\f107";
                                font-family: "fontawesome";
                                padding-left: 4px;
                           }
                       }
                       ul{
                           position: absolute;
                           width: 230px;
                           background: #262626;
                           flex-direction: column;
                           padding: 10px;
                           -webkit-box-shadow: 0px 1px 20px 1px rgba(193,193,193,0.53); 
                            box-shadow: 0px 1px 20px 1px rgba(193,193,193,0.53);
                            left: -100vw;
                            opacity: 0;
                            visibility: hidden;
                            z-index: 99;

                           li{
                               line-height: 23px;
                               a{
                                   &::after{
                                       content: "";
                                   }
                               }
                           }
                       }
                   }

                   &:last-child{
                       margin-right: unset;
                   }

                   a{
                       font-size: 15px;
                       color: #fff;
                       font-weight: 600;
                       transition: .3s ease-out;
                       &:hover{
                        
                            color: #D8061B;
                        
                        }
                    }
               }
           }
       }
    }

    .cart-box{
        border: 1px solid #262626;
        padding: 12px;
        border-radius: 5px;
        width: 55px;
        height: 55px;
        align-self: flex-end;

        a{
            display: block;
            position: relative;

            span{
                position: absolute;
                top: -3px;
                right: -7px;
                background: #D52027;
                font-size: 10px;
                width: 16px;
                height: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                border-radius: 50%;
            }
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            position: relative;
        }
    }

    .action-box{
        display: flex;
        justify-content: space-between;
        margin-left: 55px;
    }
}

.moblie-bar{
    display: none;
    @media only screen and (max-width: 1024px){
        &{
            display: block;
        }
    }
}

.box-search_header{
    position: fixed;
    top: 30%;
    left: 50%;
    transition: .3s ease-in-out;
    animation: show_box_hd .5s forwards;
    text-align: center;
    z-index: 9999;
    display: none;

    &.active_show{
        display: block;
    }
    @keyframes show_box_hd {
        0%{
            opacity: 0;
            visibility: hidden;
            transform:translateX(-50%) scale(0.7);
        }

        100%{
            opacity: 1;
            visibility: visible;
            transform:translateX(-50%) scale(1);
        }
    }

    label{
        font-size: 35px;
        font-weight: 700;
        text-transform: capitalize;
        padding-bottom: 20px;
        color: #fff;
    }

    form{
        display: flex;
        align-items: center;
        border: 1px solid #E1E1E1;
        border-radius: 30px;
        padding: 5px 0px;
        max-width: 590px;
        input{
            border: none;
            outline: none;
            width: 400px;
            height: 40px;
            padding-left: 15px;
            background: transparent;
            color: #fff;

            @media only screen and (max-width: 768px){
                &{
                    width: 100%;
                }
            }

            @media only screen and (max-width: 320px){
                &{
                    width: 90%;
                }
            }
        }

        button{
            background: none;
            color: #fff;
            margin-right: 7px;
            display: inline-block;
            border:none;
            outline: none;
        }
    }
}

.over-lay-mb{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.63);
    z-index: 9995;
    display: none;

    &.overlay-open{
        display: block;
    }
}

.search-mb-hd{
    position: absolute;
    top: 34px;
    right: 15px;
    display: none;
    @media only screen and (max-width: 1024px){
        display: block;
    }
    button{
        font-size: 21px;
        border: none;
        outline: none;
        background: none;
    }
}