@import "reset";
@import "header";
@import "mobile_nav";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap');

// ------------------------------------------------------------------------ elements ------------------------------------------------------------------------


@font-face {
    font-family: 'title-header';
    src: url('../font/UTM\ Bebas.ttf');
}

@font-face {
    font-family: 'sfu';
    src: url('../font/sf-ui-display-medium-58646be638f96.woff');
    font-weight: 400;
}

@font-face {
    font-family: 'sfu';
    src: url('../font/sf-ui-display-bold-58646a511e3d9.woff');
    font-weight: 600;
}
    





