.top-bar {
  background: #262626;
  padding: 17px 0px;
  font-family: "sfu";
  font-weight: 400; }
  .top-bar .content-top-bar p {
    color: #fff;
    font-size: 14px; }
  @media only screen and (max-width: 1024px) {
    .top-bar {
      display: none; } }

.header-main {
  padding-top: 14px; }
  @media only screen and (max-width: 1024px) {
    .header-main {
      -webkit-box-shadow: 0px 1px 20px 1px rgba(193, 193, 193, 0.53);
      box-shadow: 0px 1px 20px 1px rgba(193, 193, 193, 0.53);
      background: #fff; } }
  @media only screen and (max-width: 1024px) {
    .header-main .container {
      justify-content: center; } }
  .header-main .logo-box {
    max-width: 184px;
    height: auto; }
    @media only screen and (max-width: 1024px) {
      .header-main .logo-box {
        max-width: 100px; } }
    .header-main .logo-box img {
      width: 100%;
      height: auto; }
  .header-main .left-content-menu {
    margin-left: 54px; }
    @media only screen and (max-width: 1024px) {
      .header-main .left-content-menu {
        display: none; } }
    .header-main .left-content-menu .title-header {
      font-family: "title-header";
      font-size: 60px;
      font-style: italic; }
    .header-main .left-content-menu .search-form-header {
      padding-top: 20px; }
      .header-main .left-content-menu .search-form-header form {
        display: flex;
        align-items: center;
        border: 1px solid #E1E1E1;
        border-radius: 30px;
        padding: 5px 0px;
        max-width: 590px; }
        .header-main .left-content-menu .search-form-header form input {
          width: 574px;
          border: none;
          outline: none;
          background: transparent;
          padding-left: 15px;
          font-size: 13px; }
        .header-main .left-content-menu .search-form-header form button {
          background: none;
          color: #666666;
          margin-right: 5px;
          display: inline-block;
          border: none;
          outline: none; }
    .header-main .left-content-menu .nav-bottom-menu {
      background: #262626;
      font-family: 'sfu';
      margin-left: -43px;
      margin-top: 20px;
      position: relative;
      padding: 0px 10px; }
      .header-main .left-content-menu .nav-bottom-menu::before {
        content: "";
        position: absolute;
        z-index: 60;
        width: 58px;
        height: 101%;
        left: -58px;
        top: 0px;
        background: #262626;
        clip-path: polygon(100% 100%, 100% 0, 19% 100%); }
      .header-main .left-content-menu .nav-bottom-menu::after {
        content: "";
        position: absolute;
        z-index: 60;
        width: 48px;
        height: 102%;
        right: -47px;
        top: 0;
        background: #262626;
        clip-path: polygon(0 100%, 68% 0, 0 0); }
      .header-main .left-content-menu .nav-bottom-menu ul {
        display: flex; }
        .header-main .left-content-menu .nav-bottom-menu ul li {
          margin-right: 20px;
          line-height: 47px; }
          .header-main .left-content-menu .nav-bottom-menu ul li.has-child {
            position: relative; }
            .header-main .left-content-menu .nav-bottom-menu ul li.has-child:hover ul {
              left: 0;
              opacity: 1;
              visibility: visible; }
            .header-main .left-content-menu .nav-bottom-menu ul li.has-child a:after {
              content: "\f107";
              font-family: "fontawesome";
              padding-left: 4px; }
            .header-main .left-content-menu .nav-bottom-menu ul li.has-child ul {
              position: absolute;
              width: 230px;
              background: #262626;
              flex-direction: column;
              padding: 10px;
              -webkit-box-shadow: 0px 1px 20px 1px rgba(193, 193, 193, 0.53);
              box-shadow: 0px 1px 20px 1px rgba(193, 193, 193, 0.53);
              left: -100vw;
              opacity: 0;
              visibility: hidden;
              z-index: 99; }
              .header-main .left-content-menu .nav-bottom-menu ul li.has-child ul li {
                line-height: 23px; }
                .header-main .left-content-menu .nav-bottom-menu ul li.has-child ul li a::after {
                  content: ""; }
          .header-main .left-content-menu .nav-bottom-menu ul li:last-child {
            margin-right: unset; }
          .header-main .left-content-menu .nav-bottom-menu ul li a {
            font-size: 15px;
            color: #fff;
            font-weight: 600;
            transition: .3s ease-out; }
            .header-main .left-content-menu .nav-bottom-menu ul li a:hover {
              color: #D8061B; }
  .header-main .cart-box {
    border: 1px solid #262626;
    padding: 12px;
    border-radius: 5px;
    width: 55px;
    height: 55px;
    align-self: flex-end; }
    .header-main .cart-box a {
      display: block;
      position: relative; }
      .header-main .cart-box a span {
        position: absolute;
        top: -3px;
        right: -7px;
        background: #D52027;
        font-size: 10px;
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-radius: 50%; }
    .header-main .cart-box img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      position: relative; }
  .header-main .action-box {
    display: flex;
    justify-content: space-between;
    margin-left: 55px; }

.moblie-bar {
  display: none; }
  @media only screen and (max-width: 1024px) {
    .moblie-bar {
      display: block; } }

.box-search_header {
  position: fixed;
  top: 30%;
  left: 50%;
  transition: .3s ease-in-out;
  animation: show_box_hd .5s forwards;
  text-align: center;
  z-index: 9999;
  display: none; }
  .box-search_header.active_show {
    display: block; }
@keyframes show_box_hd {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(0.7); }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1); } }
  .box-search_header label {
    font-size: 35px;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 20px;
    color: #fff; }
  .box-search_header form {
    display: flex;
    align-items: center;
    border: 1px solid #E1E1E1;
    border-radius: 30px;
    padding: 5px 0px;
    max-width: 590px; }
    .box-search_header form input {
      border: none;
      outline: none;
      width: 400px;
      height: 40px;
      padding-left: 15px;
      background: transparent;
      color: #fff; }
      @media only screen and (max-width: 768px) {
        .box-search_header form input {
          width: 100%; } }
      @media only screen and (max-width: 320px) {
        .box-search_header form input {
          width: 90%; } }
    .box-search_header form button {
      background: none;
      color: #fff;
      margin-right: 7px;
      display: inline-block;
      border: none;
      outline: none; }

.over-lay-mb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.63);
  z-index: 9995;
  display: none; }
  .over-lay-mb.overlay-open {
    display: block; }

.search-mb-hd {
  position: absolute;
  top: 34px;
  right: 15px;
  display: none; }
  @media only screen and (max-width: 1024px) {
    .search-mb-hd {
      display: block; } }
  .search-mb-hd button {
    font-size: 21px;
    border: none;
    outline: none;
    background: none; }

/*# sourceMappingURL=header.css.map */
