@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
@media only screen and (max-width: 768px) {
  img {
    object-fit: fill;
  }
}

@media only screen and (max-width) {
  html {
    overflow-x: hidden;
  }
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
}

.owl-carousel .item {
  margin-bottom: 10px;
}
.owl-carousel.owl-theme .owl-nav [class*=owl-]:hover {
  background: unset;
}
.owl-carousel.owl-theme .owl-dots .owl-dot {
  outline: none;
}
.owl-carousel.owl-theme .owl-dots .owl-dot.active span {
  background-color: #343A40;
}
.owl-carousel.owl-theme .owl-dots .owl-dot span {
  margin: 5px 5px;
  background: #FFFFFF;
}
.owl-carousel.owl-theme .owl-dots .owl-dot span:hover {
  background-color: #343A40;
}
.owl-carousel:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}
.owl-carousel .owl-nav {
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out;
  margin-top: unset;
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav {
    opacity: 1;
    visibility: visible;
  }
}
.owl-carousel .owl-nav button {
  background-color: none;
  border: none;
  outline: none;
  font-size: 50px;
  z-index: 4;
}
.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: -25px;
  font-size: 50px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav button.owl-prev {
    left: -20px;
  }
}
.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  right: -25px;
  font-size: 50px;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .owl-carousel .owl-nav button.owl-next {
    right: -20px;
  }
}

.top-bar {
  background: #262626;
  padding: 17px 0px;
  font-family: "sfu";
  font-weight: 400;
}
.top-bar .content-top-bar p {
  color: #fff;
  font-size: 14px;
}
@media only screen and (max-width: 1024px) {
  .top-bar {
    display: none;
  }
}

.header-main {
  padding-top: 14px;
}
@media only screen and (max-width: 1024px) {
  .header-main {
    -webkit-box-shadow: 0px 1px 20px 1px rgba(193, 193, 193, 0.53);
    box-shadow: 0px 1px 20px 1px rgba(193, 193, 193, 0.53);
    background: #fff;
  }
}
@media only screen and (max-width: 1024px) {
  .header-main .container {
    justify-content: center;
  }
}
.header-main .logo-box {
  max-width: 184px;
  height: auto;
}
@media only screen and (max-width: 1024px) {
  .header-main .logo-box {
    max-width: 100px;
  }
}
.header-main .logo-box img {
  width: 100%;
  height: auto;
}
.header-main .left-content-menu {
  margin-left: 54px;
}
@media only screen and (max-width: 1024px) {
  .header-main .left-content-menu {
    display: none;
  }
}
.header-main .left-content-menu .title-header {
  font-family: "title-header";
  font-size: 60px;
  font-style: italic;
}
.header-main .left-content-menu .search-form-header {
  padding-top: 20px;
}
.header-main .left-content-menu .search-form-header form {
  display: flex;
  align-items: center;
  border: 1px solid #E1E1E1;
  border-radius: 30px;
  padding: 5px 0px;
  max-width: 590px;
}
.header-main .left-content-menu .search-form-header form input {
  width: 574px;
  border: none;
  outline: none;
  background: transparent;
  padding-left: 15px;
  font-size: 13px;
}
.header-main .left-content-menu .search-form-header form button {
  background: none;
  color: #666666;
  margin-right: 5px;
  display: inline-block;
  border: none;
  outline: none;
}
.header-main .left-content-menu .nav-bottom-menu {
  background: #262626;
  font-family: 'sfu';
  margin-left: -43px;
  margin-top: 20px;
  position: relative;
  padding: 0px 10px;
}
.header-main .left-content-menu .nav-bottom-menu::before {
  content: "";
  position: absolute;
  z-index: 60;
  width: 58px;
  height: 101%;
  left: -58px;
  top: 0px;
  background: #262626;
  clip-path: polygon(100% 100%, 100% 0, 19% 100%);
}
.header-main .left-content-menu .nav-bottom-menu::after {
  content: "";
  position: absolute;
  z-index: 60;
  width: 48px;
  height: 102%;
  right: -47px;
  top: 0;
  background: #262626;
  clip-path: polygon(0 100%, 68% 0, 0 0);
}
.header-main .left-content-menu .nav-bottom-menu ul {
  display: flex;
}
.header-main .left-content-menu .nav-bottom-menu ul li {
  margin-right: 20px;
  line-height: 47px;
}
.header-main .left-content-menu .nav-bottom-menu ul li.has-child {
  position: relative;
}
.header-main .left-content-menu .nav-bottom-menu ul li.has-child:hover ul {
  left: 0;
  opacity: 1;
  visibility: visible;
}
.header-main .left-content-menu .nav-bottom-menu ul li.has-child a:after {
  content: "\f107";
  font-family: "fontawesome";
  padding-left: 4px;
}
.header-main .left-content-menu .nav-bottom-menu ul li.has-child ul {
  position: absolute;
  width: 230px;
  background: #262626;
  flex-direction: column;
  padding: 10px;
  -webkit-box-shadow: 0px 1px 20px 1px rgba(193, 193, 193, 0.53);
  box-shadow: 0px 1px 20px 1px rgba(193, 193, 193, 0.53);
  left: -100vw;
  opacity: 0;
  visibility: hidden;
  z-index: 99;
}
.header-main .left-content-menu .nav-bottom-menu ul li.has-child ul li {
  line-height: 23px;
}
.header-main .left-content-menu .nav-bottom-menu ul li.has-child ul li a::after {
  content: "";
}
.header-main .left-content-menu .nav-bottom-menu ul li:last-child {
  margin-right: unset;
}
.header-main .left-content-menu .nav-bottom-menu ul li a {
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  transition: .3s ease-out;
}
.header-main .left-content-menu .nav-bottom-menu ul li a:hover {
  color: #D8061B;
}
.header-main .cart-box {
  border: 1px solid #262626;
  padding: 12px;
  border-radius: 5px;
  width: 55px;
  height: 55px;
  align-self: flex-end;
}
.header-main .cart-box a {
  display: block;
  position: relative;
}
.header-main .cart-box a span {
  position: absolute;
  top: -3px;
  right: -7px;
  background: #D52027;
  font-size: 10px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 50%;
}
.header-main .cart-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
}
.header-main .action-box {
  display: flex;
  justify-content: space-between;
  margin-left: 55px;
}

.moblie-bar {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .moblie-bar {
    display: block;
  }
}

.box-search_header {
  position: fixed;
  top: 30%;
  left: 50%;
  transition: .3s ease-in-out;
  animation: show_box_hd .5s forwards;
  text-align: center;
  z-index: 9999;
  display: none;
}
.box-search_header.active_show {
  display: block;
}
@keyframes show_box_hd {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%) scale(0.7);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) scale(1);
  }
}
.box-search_header label {
  font-size: 35px;
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 20px;
  color: #fff;
}
.box-search_header form {
  display: flex;
  align-items: center;
  border: 1px solid #E1E1E1;
  border-radius: 30px;
  padding: 5px 0px;
  max-width: 590px;
}
.box-search_header form input {
  border: none;
  outline: none;
  width: 400px;
  height: 40px;
  padding-left: 15px;
  background: transparent;
  color: #fff;
}
@media only screen and (max-width: 768px) {
  .box-search_header form input {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .box-search_header form input {
    width: 90%;
  }
}
.box-search_header form button {
  background: none;
  color: #fff;
  margin-right: 7px;
  display: inline-block;
  border: none;
  outline: none;
}

.over-lay-mb {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.63);
  z-index: 9995;
  display: none;
}
.over-lay-mb.overlay-open {
  display: block;
}

.search-mb-hd {
  position: absolute;
  top: 34px;
  right: 15px;
  display: none;
}
@media only screen and (max-width: 1024px) {
  .search-mb-hd {
    display: block;
  }
}
.search-mb-hd button {
  font-size: 21px;
  border: none;
  outline: none;
  background: none;
}

html.hc-nav-yscroll {
  overflow-y: scroll;
}

body.hc-nav-open {
  overflow: hidden;
  position: fixed;
  width: 100%;
  min-height: 100%;
}

.hc-offcanvas-nav {
  visibility: hidden;
  display: none;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 9999;
}

.hc-offcanvas-nav.is-ios * {
  cursor: pointer !important;
}

.hc-offcanvas-nav .nav-container {
  position: fixed;
  z-index: 9998;
  top: 0;
  width: 280px;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box;
  transition: transform .4s ease;
}

.hc-offcanvas-nav .nav-wrapper {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  overscroll-behavior: none;
  box-sizing: border-box;
}

.hc-offcanvas-nav .nav-content {
  height: 100%;
  max-height: 100vh;
}

.hc-offcanvas-nav .nav-wrapper-0 > .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hc-offcanvas-nav li {
  position: relative;
  display: block;
}

.hc-offcanvas-nav li.level-open > .nav-wrapper {
  visibility: visible;
}

.hc-offcanvas-nav input[type="checkbox"] {
  display: none;
}

.hc-offcanvas-nav label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  cursor: pointer;
}

.hc-offcanvas-nav a {
  position: relative;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
}

.hc-offcanvas-nav a,
.hc-offcanvas-nav a:hover {
  text-decoration: none;
}

.hc-offcanvas-nav.disable-body::after,
.hc-offcanvas-nav .nav-wrapper::after {
  content: '';
  position: fixed;
  z-index: 9990;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overscroll-behavior: none;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease .4s, opacity .4s ease;
}

.hc-offcanvas-nav.disable-body.nav-open::after,
.hc-offcanvas-nav .sub-level-open::after {
  visibility: visible;
  opacity: 1;
  transition-delay: .05s;
}

.hc-offcanvas-nav:not(.nav-open)::after {
  pointer-events: none;
}

.hc-offcanvas-nav.nav-levels-expand .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav.nav-levels-expand .nav-wrapper::after {
  display: none;
}

.hc-offcanvas-nav.nav-levels-expand ul .nav-wrapper {
  min-width: 0;
  max-height: 0;
  overflow: hidden;
  transition: height 0s ease .4s;
}

.hc-offcanvas-nav.nav-levels-expand .level-open > .nav-wrapper {
  max-height: none;
}

.hc-offcanvas-nav.nav-levels-overlap .nav-content {
  overflow: scroll;
  overflow-x: visible;
  overflow-y: auto;
  box-sizing: border-box;
}

.hc-offcanvas-nav.nav-levels-overlap ul .nav-wrapper {
  position: absolute;
  z-index: 9999;
  top: 0;
  height: 100%;
  visibility: hidden;
  transition: visibility 0s ease .4s, transform .4s ease;
}

.hc-offcanvas-nav.nav-levels-overlap ul li.nav-parent {
  position: static;
}

.hc-offcanvas-nav.nav-levels-overlap ul li.level-open > .nav-wrapper {
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transition: transform .4s ease;
}

.hc-offcanvas-nav.nav-position-left {
  left: 0;
}

.hc-offcanvas-nav.nav-position-left .nav-container {
  left: 0;
  transform: translate3d(-280px, 0, 0);
}

.hc-offcanvas-nav.nav-position-left.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(-100%, 0, 0);
}

.hc-offcanvas-nav.nav-position-right {
  right: 0;
}

.hc-offcanvas-nav.nav-position-right .nav-container {
  right: 0;
  transform: translate3d(280px, 0, 0);
}

.hc-offcanvas-nav.nav-position-right.nav-levels-overlap li .nav-wrapper {
  right: 0;
  transform: translate3d(100%, 0, 0);
}

.hc-offcanvas-nav.nav-position-top {
  top: 0;
}

.hc-offcanvas-nav.nav-position-top .nav-container {
  top: 0;
  width: 100%;
  height: auto;
  transform: translate3d(0, -100%, 0);
}

.hc-offcanvas-nav.nav-position-top.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(0, -100%, 0);
}

.hc-offcanvas-nav.nav-position-bottom {
  top: auto;
  bottom: 0;
}

.hc-offcanvas-nav.nav-position-bottom .nav-container {
  top: auto;
  bottom: 0;
  width: 100%;
  height: auto;
  transform: translate3d(0, 100%, 0);
}

.hc-offcanvas-nav.nav-position-bottom.nav-levels-overlap li .nav-wrapper {
  left: 0;
  transform: translate3d(0, 100%, 0);
}

.hc-offcanvas-nav.nav-open[class*='hc-nav-'] div.nav-container {
  transform: translate3d(0, 0, 0);
}

.hc-nav-trigger {
  position: absolute;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  top: 40px;
  left: 15px;
  z-index: 9980;
  width: 30px;
  min-height: 24px;
  font-size: 21px;
  background: none;
}

.hc-nav-trigger span {
  width: 30px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transform-origin: 50% 50%;
}

.hc-nav-trigger span,
.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  display: block;
  position: absolute;
  left: 0;
  height: 4px;
  background: #34495E;
  transition: all .2s ease;
}

.hc-nav-trigger span::before,
.hc-nav-trigger span::after {
  content: '';
  width: 100%;
}

.hc-nav-trigger span::before {
  top: -10px;
}

.hc-nav-trigger span::after {
  bottom: -10px;
}

.hc-nav-trigger.toggle-open span {
  background: rgba(0, 0, 0, 0);
  transform: rotate(45deg);
}

.hc-nav-trigger.toggle-open span::before {
  transform: translate3d(0, 10px, 0);
}

.hc-nav-trigger.toggle-open span::after {
  transform: rotate(-90deg) translate3d(10px, 0, 0);
}

.hc-offcanvas-nav::after,
.hc-offcanvas-nav .nav-wrapper::after {
  background: rgba(0, 0, 0, 0.3);
}

.hc-offcanvas-nav .nav-container,
.hc-offcanvas-nav .nav-wrapper,
.hc-offcanvas-nav ul {
  background: #336ca6;
}

.hc-offcanvas-nav h2 {
  font-size: 19px;
  font-weight: normal;
  text-align: left;
  padding: 20px 17px;
  color: #1b3958;
}

.hc-offcanvas-nav a {
  padding: 14px 17px;
  font-size: 15px;
  color: #fff;
  z-index: 1;
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #2c5d8f;
}

.hc-offcanvas-nav:not(.touch-device) a:hover {
  background: #31679e;
}

.hc-offcanvas-nav ul:first-of-type:not(:first-child) > li:first-child:not(.nav-back):not(.nav-close) > a {
  border-top: 1px solid #2c5d8f;
  margin-top: -1px;
}

.hc-offcanvas-nav li {
  text-align: left;
}

.hc-offcanvas-nav li.nav-close a,
.hc-offcanvas-nav li.nav-back a {
  background: #2c5d8f;
  border-top: 1px solid #295887;
  border-bottom: 1px solid #295887;
}

.hc-offcanvas-nav li.nav-close a:hover,
.hc-offcanvas-nav li.nav-back a:hover {
  background: #2b5c8d;
}

.hc-offcanvas-nav li.nav-parent a {
  padding-right: 58px;
}

.hc-offcanvas-nav li.nav-close span,
.hc-offcanvas-nav li.nav-parent span.nav-next,
.hc-offcanvas-nav li.nav-back span {
  width: 45px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  cursor: pointer;
  transition: background .2s ease;
}

.hc-offcanvas-nav li.nav-close span::before,
.hc-offcanvas-nav li.nav-close span::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-top: -3px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
}

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -9px;
  transform: rotate(135deg);
}

.hc-offcanvas-nav li.nav-close span::after {
  transform: rotate(-45deg);
}

.hc-offcanvas-nav a[href]:not([href="#"]) > span.nav-next {
  border-left: 1px solid #2c5d8f;
}

.hc-offcanvas-nav span.nav-next::before,
.hc-offcanvas-nav li.nav-back span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -2px;
  box-sizing: border-box;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform-origin: center;
}

.hc-offcanvas-nav span.nav-next::before {
  transform: translate(-50%, -50%) rotate(135deg);
}

.hc-offcanvas-nav li.nav-back span::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hc-offcanvas-nav.nav-position-left.nav-open .nav-wrapper {
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-right.nav-open .nav-wrapper {
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-right span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.hc-offcanvas-nav.nav-position-right li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(135deg);
}

.hc-offcanvas-nav.nav-position-top.nav-open .nav-wrapper {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-top span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.hc-offcanvas-nav.nav-position-top li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hc-offcanvas-nav.nav-position-bottom.nav-open .nav-wrapper {
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
}

.hc-offcanvas-nav.nav-position-bottom span.nav-next::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(45deg);
}

.hc-offcanvas-nav.nav-position-bottom li.nav-back span::before {
  margin-left: 0;
  margin-right: -2px;
  transform: translate(-50%, -50%) rotate(-135deg);
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul .nav-wrapper,
.hc-offcanvas-nav.nav-levels-none .nav-container ul .nav-wrapper {
  box-shadow: none;
  background: transparent;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul h2,
.hc-offcanvas-nav.nav-levels-none .nav-container ul h2 {
  display: none;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container ul ul a,
.hc-offcanvas-nav.nav-levels-none .nav-container ul ul a {
  font-size: 14px;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li,
.hc-offcanvas-nav.nav-levels-none .nav-container li {
  transition: background .3s ease;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open {
  background: #2e6296;
}

.hc-offcanvas-nav.nav-levels-expand .nav-container li.level-open a,
.hc-offcanvas-nav.nav-levels-none .nav-container li.level-open a {
  border-bottom: 1px solid #295887;
}

.hc-offcanvas-nav .nav-container, .hc-offcanvas-nav .nav-wrapper, .hc-offcanvas-nav ul {
  background: #262626;
}

.hc-offcanvas-nav li.nav-close a, .hc-offcanvas-nav li.nav-back a {
  background: #262626;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  font-weight: bold;
}

.hc-offcanvas-nav a {
  border-bottom: 1px solid #fff;
  font-size: 13px;
  text-transform: uppercase;
}

.hc-offcanvas-nav h2 {
  font-weight: bold;
  color: #fff;
  font-size: 15px;
}

.hc-offcanvas-nav li.nav-close span::before, .hc-offcanvas-nav li.nav-close span::after {
  border-left: 0;
  width: 25px;
  height: 15px;
}

.hc-offcanvas-nav li.nav-close span::before {
  margin-left: -10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  margin-top: -13px;
}

.hc-offcanvas-nav li.nav-close span::after {
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin-top: -13px;
  margin-left: -1px;
}

.nav-close a {
  padding: 25px 15px;
}

.hc-offcanvas-nav h2 {
  text-transform: uppercase;
}

@font-face {
  font-family: 'title-header';
  src: url("../font/UTM Bebas.ttf");
}
@font-face {
  font-family: 'sfu';
  src: url("../font/sf-ui-display-medium-58646be638f96.woff");
  font-weight: 400;
}
@font-face {
  font-family: 'sfu';
  src: url("../font/sf-ui-display-bold-58646a511e3d9.woff");
  font-weight: 600;
}
